@charset "UTF-8";
/*********************************************
 * INVERSIFY TALK STYLES
 *********************************************/
@import url(../lib/font/fira/fira_code.css);
.logo {
  width: 150px; }

.inversify-code-blocks {
  display: flex;
  justify-content: space-between; }
  .inversify-code-blocks pre {
    max-width: 49%; }
  .inversify-code-blocks .ligature {
    font-family: "Fira Code", sans-serif; }

.reveal section img.plain {
  background: none; }

#inversify-library > div {
  display: flex;
  justify-content: space-around;
  align-items: center; }

#inversify-config h3 {
  text-transform: lowercase; }

#inversify-config code {
  font-size: large; }

#inversify-modules > div {
  display: flex;
  flex-wrap: wrap;
  font-size: xx-large; }

#inversify-modules pre {
  max-width: 49%; }

#inversify-abstractions > div {
  display: flex;
  flex-wrap: wrap;
  font-size: xx-large; }

#inversify-abstractions pre {
  max-width: 49%; }

#inversify-scope code,
#inversify-dynamic code,
#inversify-multiinject code {
  font-size: large; }
